/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$tweakers_brand : #a61e39;
$tweakers_highlight : #d9ff26;
$tweakers_link : #014c93;
$tweakers_shade_dark : #313232;
$tweakers_shade_medium : #8d8b88;
$tweakers_shade_light : #b7b4b2;
$tweakers_border_dark : #bcbdbd;
$tweakers_border_medium : #dddede;
$tweakers_border_light : #e8eaea;
$tweakers_block_box : #edeeee;

$tweakers_black : #010101;
$tweakers_white : #fefefe;

$gray : #808080;
$gray-light : #f9f9f9;
$gray-light-2 : #eee;
$gray-light-3 : #ddd;
$gray-med : #666;
$gray-dark : #333;
$gray-dark-2 : #131313;
$white : #fff;
$black : #000;
$dim : rgba(0,0,0,0.5);
$error : #f00;
$valid : #089e00;
$warning : #fff664;
$information : #000db5;

@font-face {
  font-family: "Roboto Condensed";
  src: url("../../../fonts/RobotoCondensed-Regular.eot");
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url("../../../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
}

//Typography
$font : Arial, Helvetica, "Liberation Sans", sans-serif;
$font-secondary : "Roboto Condensed", Arial, Helvetica,"Liberation Sans", sans-serif;

$font-size-small : 10px;
$font-size-small-2 : 11px;
$font-size-med : 12px;
$font-size-med-2: 13px;
$font-size-large : 14px;
$font-size-large-2 : 15px;
$font-size-extra-large : 16px;
$font-size-extra-large-2 : 17px;
$font-size-heading : 19px;
$font-size-heading-2 : 27px;

//Layout
$max-width: 980px;

//Defaults
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;


//Breakpoints
$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 66em;
$bp-xl : 73em;
$bp-xxl : 89em;
$bp-xxxl : 93em;

//