<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #a61e39;"></span>
		<span class="sg-label">Tweakers brand: #a61e39</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d9ff26;"></span>
		<span class="sg-label">Tweakers highlight: #d9ff26</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #014c93;"></span>
		<span class="sg-label">Tweakers link: #014c93</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #313232;"></span>
		<span class="sg-label">Tweakers shade dark: #313232</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8d8b88;"></span>
		<span class="sg-label">Tweakers shade medium: #8d8b88</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #b7b4b2;"></span>
		<span class="sg-label">Tweakers shade light: #b7b4b2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bcbdbd;"></span>
		<span class="sg-label">Tweakers border dark: #bcbdbd</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dddede;"></span>
		<span class="sg-label">Tweakers border medium: #dddede</span>
	</li>
    <li>
        <span class="sg-swatch" style="background: #e8eaea;"></span>
        <span class="sg-label">Tweakers border light: #e8eaea</span>
    </li>
	<li>
		<span class="sg-swatch" style="background: #edeeee;"></span>
		<span class="sg-label">Tweakers block background: #edeeee</span>
	</li>

</ul>