<p>Primary font: Arial, Helvetica, "Liberation Sans", sans-serif;</p>
<p><em>Primary font italic: Arial, Helvetica, "Liberation Sans", sans-serif;</em></p>
<p><strong>Primary font bold: Arial, Helvetica, "Liberation Sans", sans-serif;</strong></p>
<p class="font-secondary">Secondary font: "Roboto Condensed", Arial, Helvetica,"Liberation Sans", sans-serif;</p>
<p class="font-secondary"><em>Secondary font italic: "Roboto Condensed", Arial, Helvetica,"Liberation Sans", sans-serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold: "Roboto Condensed", Arial, Helvetica, "Liberation Sans", sans-serif;</strong></p>